{% extends "base.html" %}

{% block content %}
	<div class="mt-24 min-h-screen" >
		<div class="container mx-auto flex flex-col gap-4 items-center" >
			<h1 class="text-5xl">Om oss</h1>
			<p>{{site_data.main_text}}</p>

			<div class="grid gri d-cols-4 gap-5 w-2/3 mt-12" >
				{% for contact in contacts %}
					{% if contact.published %}
						{% include "components/contact_avatar.html" with title=contact.title name=contact.name phone=contact.phone email=contact.email image=contact.image %}
					{% endif %}
				{% endfor %}

			</div>

		</div>

	</div>
{% endblock %}
