
{% extends "base.html" %}
{% block content %}
	<div class="mt-12 px-12 flex flex-col items-center relative h-[80%]  " >
		<div class="absolute bottom-0 left-0 w-1/3 p-12 text-gray-700">
			<h1 class=" text-6xl mb-5">{{event.title}}</h1>
			<p>{{event.short_description}}</p>
		</div>

		<img class="h-full" src="{{event.poster.url}}" alt="" />
	</div>
	<div class="px-12 py-5 h-[50%] bg-[#1a2545] " >
		<h2 class="text-5xl text-[#a09341] mb-4">Om föreställningen</h2>
		<div class="grid grid-cols-3 gap-5">
			<p class="text-white" >{{event.description}}</p>
			<div class="text-white grid grid-cols-2 gap-5" >
				<p>Spelperiod</p>
				<p>Plats</p>
				<div class="flex flex-row gap-2" >
					{% for date in event.dates.all %}
						<p>{{ date.date }}</p>
					{% endfor %}
				</div>
				{{event.location}}
			</div>
			{% load tz %}  {# Load timezone if you're using timezone-aware dates #}

			{% now "Y-m-d" as today %}
			{% with last_date=event.dates.first %}
				{% if last_date and last_date.date|date:"Y-m-d" >= today %}
					<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd46-QMIels-3biWIm9lDRFD6eKmRrzmbmYRT7vMfiPDVfqYw/viewform?embedded=true"
							width="640" height="382" frameborder="0" marginheight="0" marginwidth="0">Läser in…</iframe>

				{% endif %}
			{% endwith %}




		</div>
	</div>
	<div class="px-12 py-4" >
		<h2 class="text-5xl  text-gray-800" >Media från föreställningen</h2>
		<div class="flex flex-wrap gap-5 mt-9" >
			{% for media in event.media.all %}
				{% if media.media_type == 'image' %}
					<img class="rounded-lg h-[400px]" src="{{ media.file.url }}" alt="{{ media.caption }}" />
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
