<div class="bg-white rounded-lg p-4 shadow-lg relative">

{% if seats_left %}
{% else %}
<div class="bg-[#000000bf] absolute top-0 text-center left-0 h-full w-full flex flex-col items-center justify-center" >
	<p class='w-1/2 text-white text-2xl text-shadow-xl' >Det finns tyvärr inga platser kvar att boka på hemsidan</p>
</div>
{% endif %}

<form
	class=""
		   hx-post="/bookings/create/"
		   hx-target="#form-response"
		   hx-swap="innerHTML"
		   hx-indicator="#spinner"
>
	<h2 class="text-3xl mb-2">Boka plats till {{event.title}}</h2>
	<p>Det finns {{ seats_left }} platser kvar</p>
	<p class="mb-2">Skriv in dina uppgifter och boknings datan och verifiera sedan i mailet du får efter bokningen</p>
	<div class="grid grid-cols-2 gap-5">
		<input type="name" name="name" value="" placeholder="Namn" class="textfield h-9" />
		<input type="phone" name="phone" value="" placeholder="Telefon" class="textfield h-9" />
		<input type="email" name="email" value="" placeholder="Email" class="col-span-2 textfield h-9" />
		<input type="number" name="adult_seats" value="2" placeholder="Antal vuxen platser" class="textfield h-9" />
		<input type="number" name="child_seats" value="0" placeholder="Antal barn platser" class="textfield h-9" />
		<input type="hidden" name="event_id" value="{{ event.pk }}" />
		<input type="submit" name="" value="Boka" class=" col-span-2 btn btn-primary" />
	</div>

	<div id="spinner" class="htmx-indicator absolute top-4 right-4">
		<svg class="animate-spin h-8 w-8 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
			<circle class="opacity-25px" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
			<path class="opacity-75" fill="currentColor"
				  d="M4 12a8 8 0 018-8v4l3.5-3.5L12 0v4a8 8 0 010 16v4l-3.5-3.5L12 20v4a8 8 0 01-8-8z">
			</path>
		</svg>
	</div>

	<!-- Server response target -->
	<div id="form-response" class="w-full mt-4"></div>

</form>

</div>
