<div class="grid grid-cols-1 md:grid-cols-3 gap-12 p-4 ">
  {% for event in events %}
  {% if user.is_staff and not event.published or event.published %}
  <div onclick="window.location.href='{% url 'event_detail' event.slug %}'"
			 class="flex flex-col  cursor-pointer text-left rounded-lg p-4 relative">

    {% if user.is_staff and not event.published %}
    <div class="absolute top-0 left-0 w-full h-full bg-[#000000af] flex flex-col justify-center text-center items-center gap-2">
      <p class='text-white text-2xl w-1/2'>Detta evenemang har inte publicerats ännu. Det visas inte för andra</p>
      <a class="btn btn-primary" href="/admin/events/event/{{event.pk}}" >
        Ändra detta
      </a>
    </div>
    {% endif %}

		<img src="{{ event.poster.url }}" alt="{{ event.title }}" class="w-full rounded mb-4 object-cover">
		<div class="flex flex-col  justify-end">
			<p class="text-xl font-semibold mb-1">{{ event.title }}</p>
			{% with first_date=event.dates.first %}
			{% if first_date %}
			<p class="text-sm text-gray-600">{{ first_date.date }}</p>
			{% else %}
			<p class="text-sm text-gray-400">Inga datum</p>
			{% endif %}
			{% endwith %}
			<button class="cursor-pointer border-1 rounded-lg py-1 mt-2 w-full" >
				Se föreställningen
			</button>
		</div>
  </div>
  {% endif %}
  {% empty %}
  <p class="col-span-full text-gray-600 text-center">Inga föreställningar för det året.</p>
  {% endfor %}
</div>
